.git
.gitignore
.env
.env.backup
.env.production
vendor
node_modules
frontend/node_modules
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
uml-tool/
exemple/
